.card{
    width: 45%;
    height: 20vw;
    // border-radius: 23px; 
    /* background:rgba(128, 128, 128, 0); */
    /* margin-left: 100px; */
    background-position: center;
    background-size:cover;
    background-size:99% 99% ;
    
    @media only screen and (max-width: 768px) {
        /* styles for devices with a minimum screen width of 480px */
        width: 100%;
        margin-bottom: 20px;
        height: 40vw;
        }
    

/* .work_img{
    width: 100%;
    height: 100%;
    padding: 5px; 
    border-radius: 23px;
    overflow-wrap: break-word;
    transition:0.3s;
 }  */
.work_discription{
    color: #ff5f2900;
    height: 100.5%;
    width: 100.5%;
    margin:0;
    text-align: center;
    // transition:0.9s;
    // border-width: 1px;
    // border: solid;
}
.work_discription:hover{
    border-radius:0px;
    // background-color: rgba(0, 0, 0, 0.815);
    color:#ff5f29 ;
}

}
.card:hover{
    // box-shadow: inset;
    box-shadow: 00px 0px 5000px 70px rgb(0, 0, 0) inset;
     
    // background-size:150% ;
}
// @media (max-width:768px){
//     .card{
//         width: 45%;
//         height: 20vw;
//         // border-radius: 23px; 
//         /* background:rgba(128, 128, 128, 0); */
//         /* margin-left: 100px; */
//         background-position: center;
//         background-size:cover;
//         background-size:99% 99% ;
        
//         @media only screen and (max-width: 480px) {
//             /* styles for devices with a minimum screen width of 480px */
//             width: 100%;
//             margin-bottom: 20px;
//             height: 40vw;
//             }
        
    
//     /* .work_img{
//         width: 100%;
//         height: 100%;
//         padding: 5px; 
//         border-radius: 23px;
//         overflow-wrap: break-word;
//         transition:0.3s;
//      }  */
//     .work_discription{
//         color: #ff5f2900;
//         height: 100.5%;
//         width: 100.5%;
//         margin:0;
//         text-align: center;
//         // transition:0.9s;
//     }
//     .work_discription:hover{
//         border-radius:0px;
//         // background-color: rgba(0, 0, 0, 0.815);
//         color:#ff5f29 ;
//     }
    
//     }
//     .card:hover{
//         // box-shadow: inset;
//         box-shadow: 00px 0px 5000px 70px rgb(0, 0, 0) inset;
         
//         background-size:150% ;
//     }
// }