@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400&display=swap');

.profession{
    font-family: 'Courier Prime', monospace;
    color:#0085FF ;
    font-size: 25px;
    text-align: left;
    line-height: 28.08px;
    margin-bottom: 20px;
    font-weight: 400px;
}
@media(min-width:768px)