.gradient-text {
    background: linear-gradient(to right, #ff2930, #0060FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: 'inline-block';
    font-family:url("../others/fonts/TT\ Chocolates\ DemiBold.otf");
    width:fit-content;
    display: flex;
    font-size: 55px;
    font-weight: 500;
    /* align-items: center; */
    /* text-align: right; */
    /* justify-content: center; */
  }
  .top-header{
    margin: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  @font-face {
    font-family: 'Tt chocolates trl';
    src: url("../others/fonts/TT\ Chocolates\ DemiBold.otf") format('truetype'); /* Adjust the font file path and format as needed */
  }