.footer{
    // margin: 100px;
    position:static;
    bottom: 0;
    width: 100%;
    margin-top:50px;
    justify-content: space-between;
    // font-size: 22px;
    display: block;
    .s1{
        display: flex;
    }
    .s2{
        display: flex;
    }
    .p1{
        line-height: 22px;
        font-size: 22px;
        width: 70%;
        margin-bottom: 10px;
        margin-left:4vw ;
        color:#0085FF;
    }
    .p2
    {
        color:#FF5D29 ;
        // text-align: center;
        line-height: 22px;
        font-size: 22px;
        width: 30%;
        margin-left:10vw ;
    }
}
@media(max-width:768px){
    .footer{
    // margin: 10px;
    margin-top:0px;
    justify-content: space-between;
    // font-size: 22px;
    // width: 100%;
    display: block;
    .s1{
        display: block;
        justify-content: space-between;
    }
    .s2{
        justify-content: space-between;
        display: block;
    }
    .p1{
        line-height: 10px;
        font-size: 10.5px;
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0vw;
        text-align: center;
    }
    .p2
    {
        margin-bottom: 10px;
        margin-left: 0vw;
        line-height: 10.5px;
        font-size: 10px;
        width: 100%;
        text-align: center;
    }
}
}