@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
.hellow {
  text-align: left;
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  line-height: 28.08px;
  width: 1240px;

  .hellow_text {
    color: #ffffff;
    font-size: 40px;
    line-height: 44.92px;
    font-weight: 816px;
    margin-bottom: 10px;
  }
  .p1 {
    color: #ff5d29;
    font-size: 22px;
    font-weight: 700;
    line-height: 24.92px;
  }
  .p2 {
    color: #0085ff;
    font-size: 22px;
    line-height: 24.7px; 
    font-weight: 400; 
  }
  .p3 {
    color: #ff5d29;
    line-height: 27.71px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 22px;
  }
}
