.progressbar {
  width: 20%;
  color: white;
  margin: 2%;
  .bar {
    display: flex;
    height: 2vh;
    font-size: 22px;
    font-weight: 700;
    line-height: 24.7;
    // border-left: solid;
    border-left-style: dashed;
    border-width: 2px;
    border-radius: 0%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: white;

    .progress {
      background-color: #0085ff;
      height: 100%;
      // width: 40px;
      border-radius: 0px;
    }
    .progress2 {
      border: solid;
      border-style: dashed;
      border-width: 2px;
      width: 100%;
    }
  }
}
@media(max-width:768px){
    .progressbar {
        width: 30%;
        color: white;
        margin: 2px;
        h2{
            font-size: 9px;
            margin-bottom: 2px;
        }
        .bar {
          margin: 0px;
          display: flex;
          height: 0.5rem;
          font-size: 13px;
          font-weight: 700;
          line-height: 10;
          // border-left: solid;
          border-left-style: dashed;
          border-width: 1px;
          border-radius: 0%;
          width: 100%;
          background-color: rgba(255, 255, 255, 0);
          color: white;
      
          .progress {
            background-color: #0085ff;
            height: 100%;
            // width: 40px;
            border-radius: 0px;
          }
          .progress2 {
            border: solid;
            border-style: dashed;
            border-width: 1px;
            width: 100%;
          }
        }
      }
}
