.Work {
  .sec {
    display: flex;
    justify-content: space-between;
    transition: all 0.9s ease;
    @media only screen and (max-width: 480px) {
      /* styles for devices with a minimum screen width of 480px */
      display: block;
    }
  }
  .work_heading {
    color: #ffffff;
    font-size: 23px;
    /* line-height: 44.92px; */
    font-weight: 816px;
    margin-bottom: 10px;
  }
  .h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 25px;
    line-height: 28.08px;
    color: #0085ff;
  }
}
@media (max-width: 768px) {
  .Work {
    .sec {
      display: flex;
      justify-content: space-between;
      transition: all 0.9s ease;
      display: block;
    }
    .work_heading {
      color: #ffffff;
      font-size: 20px;
      /* line-height: 44.92px; */

      margin-top: 40px;
      font-weight: 816px;
      margin-bottom: 10px;
    }
    .h2 {
      margin-top: 30px;
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 18px;
      line-height: 28.08px;
      color: #0085ff;
    }
  }
}
